{
  "extends": ["eslint:recommended", "plugin:react/recommended", "nativeaxis"],
  "env": {
    "browser": true,
    "node": true,
    "jasmine": true,
    "es6": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "echmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": ["react", "lodash"],
  "settings": {
    "react": {
      "version": "0.14"
    }
  },
  "globals": {
    "__VERSION__": true
  }
}
